.Bookmark {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
    overflow: hidden;
    height: 28px;
    width: 90%;
    box-sizing: border-box;
    border: solid 1px #AAA;
    border-radius: 3px;
    background: #EEE;
    position: relative;
    margin: 10px auto;
}
.searched {
    animation: searched-flashing 1s infinite linear;
}
@keyframes searched-flashing {
    0% {
        box-shadow: 0 0 0 1px #FFF, 0 0 0 5px #FFF;
    }
    50% {
        box-shadow: 0 0 0 1px #FFF, 0 0 0 5px #088;
    }
    100% {
        box-shadow: 0 0 0 1px #FFF, 0 0 0 5px #FFF;
    }
}

.hidden {
    border-color: #666;
}
.hidden-badge {
    height: 28px;
    width: 28px;
    background: #666;
    position: relative;
    margin-left: -1px;
}
.hidden-badge-eye {
    content: "";
    height: 12px;
    width: 12px;
    border: solid 2px #EEE;
    border-radius: 50% 0;
    transform: rotate(45deg);
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0
}
.hidden-badge-eye:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #EEE;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.hidden-badge-eye:after {
    content: "";
    width: 2px;
    height: 24px;
    box-shadow: 0 0 0 1px #666;
    background: #EEE;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(90deg);
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
}
.icon {
    height: 16px;
    width: 16px;
    margin: 0 8px;
}
.name {
    max-width: 160px;
    flex-shrink: 0;
    height: inherit;
    box-sizing: border-box;
    font: 14px tahoma;
    color: #222;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.URL {
    flex-grow: 1;
    height: inherit;
    box-sizing: border-box;
    font: 12px tahoma;
    color: #AAA;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 14px;
    transition: all 0.1s linear;
}
.data:hover > .URL {
    color: #222;
    font-size: 14px;
}

.button-dropdown {
    cursor: default;
    height: 26px;
    width: 26px;
    border: none;
    border-left: solid 1px #AAA;
    background: #EEE;
    outline: none;
    transition: 0.1s;
    position: absolute;
    right: 0;
}
.button-dropdown:before {
    content: "";
    height: 8px;
    width: 8px;
    border-left: solid 1px #222;
    border-bottom: solid 1px #222;
    transform: rotate(-45deg);
    transition: 0.1s;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 6px;
}
.button-dropdown:hover {
    background: #DDD;
}