.Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 24px;
    box-sizing: border-box;
    background: #AAA;
    border-radius: 3px;
    font: normal 16px tahoma;
    color: #FFF;
    cursor: pointer;
    transition: background 0.1s linear;
}
.Button:active {
    transform: translateY(2px);
}

.primary {
    background: #288;
    color: #FFF;
}
.primary:hover {
    background: #4AA;
}

.secondary {
    background: transparent;
    color: #055;
    border: solid 1px #288;
}
.secondary:hover {
    background: #DDF;
}
