.LanguageSwitch {
    position: absolute;
    bottom: 24px;
    right: 48px;
}
.lang-item {
    width: 80px;
    height: 24px;
    cursor: pointer;
    font: 13px arial;
    color: #066;
    border: solid 1px transparent;;
    border-radius: 3px;
    background: transparent;
    outline: none;
    transition: all 0.1s linear;
}
.lang-item:hover {
    border-color: #288;
}