.dropdown-item {
    cursor: pointer;
    font: 13px arial;
    white-space: nowrap;
    padding: 6px 12px 6px 2px;
    color: #222;
    transition: all 0.05s linear;
}
.dropdown-item:hover {
    background: #DDD;
}