.Message {
    width: 340px;
    border-radius: 3px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 2;
    padding: 14px;
    padding-right: 38px;
    font: 15px arial;
    color: #FFF;
    cursor: default;
    transition: all 0.1s linear;
    animation: show 0.1s 1 linear;
}
@keyframes show {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
.close {
    transform: translateX(200px);
    opacity: 0;
}

.close-button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 3px;
    background: transparent;
    position: absolute;
    margin: auto;
    right: 14px;
    top: 0;
    bottom: 0;
    outline: none;
    cursor: pointer;
}
.close-button:before, .close-button:after {
    content: "";
    width: 2px;
    height: 14px;
    background: #FFF;
    transform: rotate(45deg);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.close-button:after {
    transform: rotate(135deg);
}
.close-button:hover {
    background: rgba(0, 0, 0, 0.2);
}
.close-button:active {
    background: rgba(0, 0, 0, 0.4);
}

.info {
    background: #456;
}
.succes {
    background: #282;
}
.warning {
    background: #D90;
}
.danger {
    background: #D44;
}
