.EntryBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    background: #FFF;
    border: solid 1px #CCC;
    border-top: none;
    border-radius: 0 0  6px 6px;
    position: relative;
    margin: 0 auto;
    padding-top: 70px;
    animation: open 0.25s 1 linear;
}
@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {
    cursor: default;
    width: calc(100% + 2px);
    height: 35px;
    box-sizing: border-box;
    padding-top: 2px;
    text-align: center;
    background: #288;
    color: #FFF;
    font: normal 22px tahoma;
    position: absolute;
    left: -1px;
    top: 0;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
    height: 28px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}

.confirmRegistration {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: calc(100% - 35px);
    box-sizing: border-box;
    background: #FFF;
    border-radius: 0 0 6px 6px;
    font: 14px tahoma;
    color: #222;
    padding: 0 50px;
    position: absolute;
    bottom: 0;
}
.confirmRegistration-user-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    box-sizing: border-box;
    font: normal 14px arial;
    color: #222;
    border: solid 1px #AAA;
    border-radius: 3px;
    padding: 8px 6px;
    margin: 20px 0;
}
.confirmRegistration-string {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 4px;
}
.confirmRegistration-ellipsis {
    flex-grow: 1;
    border-bottom: dotted 1px #AAA;
    margin: 3px 8px;
}