.EntryBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  background: #FFF;
  border: solid 1px #CCC;
  border-top: none;
  border-radius: 0 0  6px 6px;
  position: relative;
  margin: 0 auto;
  padding-top: 70px;
  animation: openEntryBar 0.25s 1 linear;
}
@keyframes openEntryBar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.EB-header {
  cursor: default;
  width: calc(100% + 2px);
  height: 35px;
  box-sizing: border-box;
  padding-top: 2px;
  text-align: center;
  background: #288;
  color: #FFF;
  font: normal 22px tahoma;
  position: absolute;
    left: -1px;
    top: 0;
}

.EB-input-field {
  width: 300px;
  position: relative;
  margin: 8px 0;
}
.EB-input-field-name {
  cursor: default;
  background: #FFF;
  color: #666;
  font: 12px arial;
  padding: 0 4px;
  transition: 0.4s;
  border-radius: 3px;
  position: absolute;
    top: -7px;
    left: 5px;
}
.EB-input {
  width: 300px;
  height: 32px;
  box-sizing: border-box;
  background: #FFF;
  color: #222;
  font-size: 14px;
  border: solid 1px #AAA;
  border-radius: 3px;
  padding-left: 6px;
  outline: none;
  transition: 0.4s;
}
.EB-input:focus + .EB-input-field-name {
  color: #CCC;
}

.EB-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  height: 28px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}
.EB-button {
  cursor: pointer;
  height: 30px;
  width: 120px;
  background: #288;
  font: normal 14px arial;
  color: #FFF;
  border: none;
  border-radius: 3px;
  transition: all 0.2s linear, transform 0.05s linear;
  outline: none;
  position: relative;
}
.EB-button:hover {
  background: #4AA;
}
.EB-button:active {
  transform: translateY(2px);
}

.EB-tip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: default;
  width: 30px;
  height: 32px;
  background: #288;
  border-radius: 0 3px 3px 0;
  font: bold 20px arial;
  color: #FFF;
  transition: 0.25s;
  position: absolute;
    margin: auto;
    right: 0;
    top: 0;
}
.EB-tip:hover {
  background: #AAA;
}

.EB-eye {
  width: 30px;
  height: 32px;
  background: #288;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: 0.25s;
  position: absolute;
    right: 0;
    top: 0;
}
.EB-eye:before {
  content: "";
  width: 12px;
  height: 12px;
  border: solid 2px #FFF;
  border-radius: 50% 0;
  transform: rotate(45deg);
  outline: none;
  cursor: pointer;
  position: absolute;
  margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.EB-eye:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #FFF;
  border-radius: 50%;
  transition: 0.25s;
  position: absolute;
  margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.EB-eye-slash {
  z-index: 1;
  width: 2px;
  height: 24px;
  box-shadow: 0 0 0 1.5px #288;
  background: #FFF;
  transition: 0.25s;
  position: absolute;
  margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  transform: rotate(-45deg);
}
.EB-eye:hover {
  background: #AAA;
}
.EB-eye:hover > .EB-eye-slash {
  box-shadow: 0 0 0 1.5px #AAA;
}

.EB-alert {
  background: #DDD;
}
.EB-regError {
  z-index: 1;
  width: 170px;
  border-radius: 0 3px 3px 3px;
  background: #666;
  font: 13px tahoma;
  color: #FFF;
  padding: 2px 10px;
  position: absolute;
    right: 0;
    top: 0;
  animation-name: opacity; 
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.EB-regError:before {
  content: "";
  width: 12px;
  height: 12px;
  background: linear-gradient(to right bottom, #666 50%, transparent 50%);
  transform: skew(45deg);
  position: absolute;
    left: -6px;
    top: 0;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.EB-error {
  width: 300px;
  box-sizing: border-box;
  font-family: tahoma;
  font: 13px tahoma;
  background: #666;
  color: #FFF;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 6px 22px 6px 12px;
  position: relative;
}
.EB-error-button-close {
  cursor: pointer;
  height: 16px;
  width: 16px;
  background: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: 0.2s;
  position: absolute;
    right: 6px;
    top: 6px;
}
.EB-error-button-close:before, .EB-error-button-close:after {
  content: "";
  height: 12px;
  width: 2px;
  background: #FFF;
  transform: rotate(45deg);
  position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.EB-error-button-close:after {
  transform: rotate(-45deg);
}
.EB-error-button-close:hover {
  background: #999;
}
.EB-error-button-close:active {
  transform: scale(0.8, 0.8)
}

.confirmRegistration {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: calc(100% - 35px);
  box-sizing: border-box;
  background: #FFF;
  border-radius: 0 0 6px 6px;
  font: 14px tahoma;
  color: #222;
  padding: 0 50px;
  position: absolute;
    bottom: 0;
}
.confirmRegistration-user-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  font: normal 14px arial;
  color: #222;
  border: solid 1px #AAA;
  border-radius: 3px;
  padding: 8px 6px;
  margin: 20px 0;
}
.confirmRegistration-string {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 4px;
}
.confirmRegistration-ellipsis {
  flex-grow: 1;
  border-bottom: dotted 1px #AAA;
  margin: 3px 8px;
}