.MyLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 620px;
    min-width: 420px;
    height: 100%;
    border-left: solid 1px #CCC;
    border-right: solid 1px #CCC;
    background: #FFF;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    animation: MyLinksAnimation 0.25s 1 linear;
}

@keyframes MyLinksAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.bookmarks-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px 0 160px 0;
    position: relative;
    overflow-y: scroll;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5%;
    border-bottom: solid 1px #CCC;
}

.search {
    display: flex;
    flex-direction: row;
    width: 46%;
    height: 30px;
    position: relative;
}
.search-input {
    width: calc(100% - 30px);
    height: 100%;
    background: #FFF;
    color: #222;
    font: 14px tahoma;
    border: solid 1px #288;
    border-radius: 3px 0 0 3px;
    padding-left: 6px;
    margin-bottom: 8px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.1s linear;
}
.search-input::placeholder {
    transition: color 0.2s linear;
}
.search-badge {
    width: 30px;
    height: 30px;
    background: #288;
    border-radius: 0 3px 3px 0;
    position: relative;
    transition: all 0.1s linear;
}
.search-badge:before {
    content: "";
    width: 10px;
    height: 10px;
    border: solid 2px #FFF;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
}
.search-badge:after {
    content: "";
    width: 3px;
    height: 10px;
    background: #FFF;
    transform: rotate(-45deg);
    position: absolute;
    left: 18px;
    top: 15px;
}
.search:hover > .search-input {
    border-color: #4AA;
}
.search:hover > .search-badge {
    background: #4AA;
}
.search-input:focus {
    border-color: #4AA;
}
.search-input:focus + .search-badge {
    background: #4AA;
}
.search-input:focus::placeholder {
    color: #CCC;
}

@media (max-width: 620px) {
    .MyLinks {
        width: 100%;
    }
}

.notLinks {
    height: 20px;
    text-align: center;
    font: normal 20px tahoma;
    color: #222;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loading {
    height: 55px;
    width: 55px;
    border-left: solid 6px #288;
    border-right: solid 6px #288;
    border-top: solid 6px transparent;
    border-bottom: solid 6px transparent;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: loading-rotation infinite 1s linear;
}
@keyframes loading-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}