.body-app {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #EEE;
    position: fixed;
    left: 0;
    top: 0;
}

.Toolbar {
    display: flex;
    justify-content: space-between;
}
